body{
    /* background-image: url('ref/back.jpeg'); */
    background: linear-gradient( rgba(98, 112, 192, 0.5), rgba(0, 0, 0, 0.5) ), url('ref/back.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}